{
  "extends": [
    "airbnb-base",
    "plugin:ternary/recommended",
    "plugin:promise/recommended"
  ],
  "rules": {
    "no-unexpected-multiline": "error",
    "no-underscore-dangle":
      ["error", { "allow": ["_id"] }],
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": true }]
  }
}